<h1 style="text-align: center;">Eat-The-Burger!</h1>

<h2 style="text-align: center;">What Kind Of Burger Do You Want To Eat?</h2>
<img src="/assets/img/burger.jpg">
<ul>
   
    {{#each burger}}

    {{/each}}
</ul>
